* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

:root {
  --background: #eae7dc;
  --beige: #d8c3a5;
  --grey: #8e8d8a;
  --light-red: #f1d2d5;
  --red: #b65e59;
  --dark-red: #8c3f37;
  --blue: #4f6279;
}

body {
  background-color: var(--background);
}

.hidden {
  display: none;
}
