* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

:root {
  --light-red: #f1d2d5;
  --red: #b65e59;
  --dark-red: #8c3f37;
  --font-display: "Josefin Sans", sans-serif;
  --font-regular: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}

p {
  font-family: var(--font-regular);
}

body {
  background-color: var(--background);
}

.hidden {
  display: none;
}
