.about-container {
  background-color: var(--background);
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  z-index: -2;
}
.about-container::before {
  content: "";
  height: 100%;
  width: 100%;
  background-image: url("../../assets/grey-tiles.png");
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0.2;
  z-index: -1;
}

.about-content {
  background-color: var(--red);
  height: 70%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  box-shadow: 10px 20px 20px rgba(90, 90, 90, 0.2);
  padding: 4% 10%;

  /* border: 2px solid blue; */
}

.about-header {
  /* border: 2px solid white; */
  color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 4%;
  z-index: 2;
}

.about-header-left {
  height: 2px;
  width: 2px;
  margin: 5px 30px 0 0;
  transition: 1s;
}

.about-header-right {
  height: 2px;
  width: 2px;
  margin: 5px 0 0 30px;
  transition: 1s;
}

.about-header-accents {
  background-color: var(--background);
  width: 35%;
  z-index: 2;
}

.about-paragraph {
  color: var(--background);
  height: 100%;
  width: 80%;
  z-index: 2;
  transition: 1s;
  /* border: 2px solid blue; */
  opacity: 100;
  transform: translateY(0);
  /* padding: 5%; */
}

.about-paragraph-transition {
  opacity: 0;
  transform: translateY(80%);
}

.about-photo {
  background: linear-gradient(rgba(80, 80, 80, 0.5), rgba(80, 80, 80, 0.5)),
    url("../../assets/deluxx_photos/cocktail1.jpg");
  background-position: center;
  background-size: cover;
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0%;
}
