.about-container {
  background-color: var(--background);
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  z-index: -2;
}
.about-container::before {
  content: "";
  height: 100%;
  width: 100%;
  background-image: url("../../assets/grey-tiles.png");
  background-repeat: repeat;
  background-position: center;
  background-size: contain;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0.2;
  z-index: -1;
}

.about-content {
  background-color: var(--red);
  height: 70%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  box-shadow: 10px 20px 20px rgba(90, 90, 90, 0.2);
}
