.menu-container {
  height: 220vh;
  background-color: var(--beige);
  background-image: url("../../assets/circle-logo.png");
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.menu-photo {
  border: 2px solid blue;
  height: 70vh;
  width: 100%;
  background-image: url("../../assets/deluxx_photos/cocktail2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* z-index: 100; */
}

.menu-photo2 {
  border: 2px solid blue;
  height: 70vh;
  width: 100%;
  background-image: url("../../assets/deluxx_photos/cocktails3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* position: fixed; */
}

.menu-content {
  border: 2px solid green;
  height: 80vh;
  width: 100%;
  /* background-image: url("../../assets/logo-circle.png"); */
  /* background-image: url("../../assets/circle-logo.png"); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-size: contain; */
}

.menu-info {
  width: 70%;
  height: 80%;
  border-radius: 5px;
  background-color: var(--light-red);
  display: flex;
  justify-content: center;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.4);
  opacity: 100%;
  transition: 1s;
}

.menu-info-transition {
  opacity: 0;
  transform: translateY(100%);
}
