.slide {
  /* position: absolute; */
  height: 100%;
  width: 100vw;
  border: 2px solid purple;
  transform: translateX(0%);
  transition: 1s;
}

/* .slide-exit {
} */

.slide-transition-right {
  /* position: absolute; */
  height: 100%;
  width: 100vw;
  transform: translateX(100%);
  transition: 1s;
}
.slide-transition-left {
  /* position: absolute; */
  height: 100%;
  width: 100vw;
  transform: translateX(-100%);
  transition: 1s;
}
